{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form, form_errors %}

{% block main %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card square-edges">
                <div class="card-header">Request Reset Password</div>
                <div class="card-body">
                    <form method="POST" action="">
                        {{ render_form(form, button_map={'submit':'danger my-4 btn-block square-edges'}) }}
                        {{ form_errors(form) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock main %}
