{% extends 'base.html' %}

{% from 'bootstrap/pagination.html' import render_pagination %}
{% block main %}
    <div class="row row-cols-4 row-cols-md-4 pt-4 com_index">
        {% for company in company %}
        <div class="col-md-3 mb-4">
            <div class="card border-primary">
                <div class="card-body">
                    {% if current_user.is_authenticated %}
                    <h5 class="card-title">
                        <a href="{{ url_for('main.user', username=company.username) }}">
                        {{ company.company }}
                        </a>
                    </h5>
                    {% else %}                                 
                    <h5 class="card-title text-primary">{{ company.company }}</h5>
                    {% endif %}
                    <p class="card-text">{{ company.phone }}<br>{{ company.email }}</p>
                    <p class="card-text"><small class="text-muted">{{ company.rates.count() }} Stars</small></p>
                </div>
            
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {{ render_pagination(pagination, ellipses='...', align='center') }}
{% endblock footer %}
