{% extends 'base.html' %}

{% block main %}
<table class="table table-hover mt-5">
    <tr>
        <td width="256px"><img src="{{ url_for('static', filename='profile_pics/' + user.image) }}"></td>
        <td>
            <h1>{{ user.company }}</h1>
            <p>{{ 'Phone' }}: {{ user.phone }}</p>
            <p>{{ 'Email' }}: {{ user.email }}</p>
            <p>{{ user.likes.count() }} stars </p>
            {% if user == current_user %}
                {% if user.company %}
                <p><a href="{{ url_for('main.update_company') }}">{{ 'Update Profile' }}</a></p>
                {% else %}
                <!-- LATER USE -->
                <p><a href="{{ url_for('main.update') }}">{{ 'Update Profile' }}</a></p>
                {% endif %}
            {% elif not current_user.is_like(user) %}
            <p><a href="{{ url_for('main.rate', username=user.username) }}">
                    <i class="fas fa-star"></i>
                </a>
            </p>
            {% else %}
            <p>
                <a href="{{ url_for('main.unrate', username=user.username) }}">
                    <i class="far fa-star"></i>
                </a>
            </p>
            {% endif %}
            {% if user != current_user %}
            <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ 'Send Message' }}</a></p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'About:' }}</td>
        <td>
            {{ user.about }}
        </td>
    </tr>
</table>
{% endblock main %}