{% extends 'base.html' %}

{% block main %}
<div class="mt-5 com_index">
    <div class="row">
        <div class="col-md-4 p-2" id="user_avatar"><img src="{{ user.avatar(256) }}" class="logo"></div>
        <div class="col-md-8">
            <h1>{{ user.company }}</h1>
            <p>{{ 'Phone' }}: {{ user.phone }}</p>
            <p>{{ 'Email' }}: {{ user.email }}</p>
            <p>{{ user.rates.count() }} stars </p>
            {% if user == current_user %}
                {% if user.company %}
                <p><a href="{{ url_for('main.update_company') }}">{{ 'Update Profile' }}</a></p>
                {% else %}
                <!-- LATER USE -->
                <p><a href="{{ url_for('main.update') }}">{{ 'Update Profile' }}</a></p>
                {% endif %}
            {% elif not current_user.is_rate(user) %}
            <p><a href="javascript://" onclick="Sijax.request('rateUser');">
                    <i class="fas fa-star"></i>
                </a>
            </p>
            {% else %}
            <p>
                <a href="{{ url_for('main.unrate', username=user.username) }}">
                    <i class="far fa-star"></i>
                </a>
            </p>
            {% endif %}
            {% if user != current_user %}
            <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ 'Send Message' }}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="row about-col">
        <div class="col-md-4" >{{ 'About:' }}</div>
        <div class="col-md-8">
            {{ user.about }}
        </div>
    </div>
</div>
{% endblock main %}
